<!--<html xmlns="http://www.w3.org/1999/xhtml" lang="is" xml:lang="is">
<head>
    <title>Webshop</title>
</head>
<body>
<form id="form1" action="https://test.borgun.is/SecurePay/default.aspx" method="post">
    Merchantid : <input type="text" name="merchantid" value="9275444"/><br>
    paymentgatewayid : <input type="text" name="paymentgatewayid" value="16"/><br>
    checkhash : <input type="text" size=100 name="checkhash"
                       value="628236a248fc6ca8358924287651273de827d78c3e3ffb281bce4a86d4b17edd"/><br>
    orderid : <input type="text" name="orderid" value="ORDER1230001"/><br>
    currency : <input type="text" name="currency" value="HUF"/><br>
    language : <input type="text" name="language" value="HU"/><br>
    buyername : <input type="text" name="buyername" value="Zoltan Bogar"/><br>
    buyeremail : <input type="text" name="buyeremail" value="mr.shadow9999@gmail.com"/><br>
    returnurlsuccess : <input type="text" size=100 name="returnurlsuccess"
                              value="http://borgun.is/ReturnPageSuccess"/><br>
    returnurlsuccessserver : <input type="text" size=100 name="returnurlsuccessserver"
                                    value="http://api.hazfal.test:8000/payments/borgun/success"/><br>
    returnurlcancel : <input type="text" size=100 name="returnurlcancel"
                             value="http://borgun.is/ReturnPageCancel.aspx"/><br>
    returnurlerror : <input type="text" size=100 name="returnurlerror"
                            value="http://borgun.is/ReturnUrlError.aspx"/><br>
    itemdescription_0 : <input type="text" name="itemdescription_0" value="FooBar"/><br>
    itemcount_0 : <input type="text" name="itemcount_0" value="1"/><br>
    itemunitamount_0 : <input type="text" name="itemunitamount_0" value="800.00"/><br>
    itemamount_0 : <input type="text" name="itemamount_0" value="800.00"/><br>
    amount : <input type="text" name="amount" value="800.00"/><br>
    pagetype : <input type="text" name=" pagetype " value="0"/><br>
    skipreceiptpage : <input type="text" name="skipreceiptpage " value="0"/><br>
    merchantemail : <input type="text" name="merchantemail" value="mr.shadow9999@gmail.com"/><br>
    <input type="submit" name="PostButton"/>
</form>
</body>
</html>-->

<html xmlns="http://www.w3.org/1999/xhtml" lang="is" xml:lang="is">
<head>
    <title>Webshop</title>
</head>
<body>
<form id="form1" action="https://test.borgun.is/SecurePay/default.aspx" method="post">
    Merchantid : <input type="text" name="merchantid" value="9275444"/><br>
    paymentgatewayid : <input type="text" name="paymentgatewayid" value="16"/><br>
    checkhash : <input type="text" size=100 name="checkhash"
                       value="6d2b7d491a331c729f14c0948b668f6bd82194f5b57774bece69461e4a98c838"/><br>
    orderid : <input type="text" name="orderid" value="ORDER1230001"/><br>
    currency : <input type="text" name="currency" value="EUR"/><br>
    language : <input type="text" name="language" value="EN"/><br>
    buyername : <input type="text" name="buyername" value="Agnar Agnarsson"/><br>
    buyeremail : <input type="text" name="buyeremail" value="test@borgun.is"/><br>
    returnurlsuccess : <input type="text" size=100 name="returnurlsuccess"
                              value="https://webhook.site/09452dc1-3ea3-45ee-8464-7a03862360d2"/><br>
    returnurlsuccessserver : <input type="text" size=100 name="returnurlsuccessserver"
                                    value="https://webhook.site/09452dc1-3ea3-45ee-8464-7a03862360d2"/><br>
    returnurlcancel : <input type="text" size=100 name="returnurlcancel"
                             value="https://webhook.site/09452dc1-3ea3-45ee-8464-7a03862360d2"/><br>
    returnurlerror : <input type="text" size=100 name="returnurlerror"
                            value="https://webhook.site/09452dc1-3ea3-45ee-8464-7a03862360d2"/><br>
    itemdescription_0 : <input type="text" name="itemdescription_0" value="Dekk"/><br>
    itemcount_0 : <input type="text" name="itemcount_0" value="1"/><br>
    itemunitamount_0 : <input type="text" name="itemunitamount_0" value="800.00"/><br>
    itemamount_0 : <input type="text" name="itemamount_0" value="800"/><br>
    amount : <input type="text" name="amount" value="800"/><br>
    pagetype : <input type="text" name=" pagetype " value="0"/><br>
    skipreceiptpage : <input type="text" name="skipreceiptpage " value="0"/><br>
    merchantemail : <input type="text" name="merchantemail" value="test@borgun.is"/><br>
    <input type="submit" name="PostButton"/>
</form>
</body>
</html>

