# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    twilio_phone: +18669546381
    twilio_account_sid: AC72f570abe2a7b2714c5d92ab7fb1f178
    twilio_auth_token: d0174cd43bcd8edfef02fa9590c3ffea

    borgun_url: https://test.borgun.is/SecurePay/default.aspx
    borgun_merchantid: 9275444
    borgun_paymentgatewayid: 16
    borgun_returnurlsuccess: https://webhook.site/09452dc1-3ea3-45ee-8464-7a03862360d2
    borgun_returnurlsuccessserver: https://webhook.site/09452dc1-3ea3-45ee-8464-7a03862360d2
    borgun_returnurlcancel: https://webhook.site/09452dc1-3ea3-45ee-8464-7a03862360d2
    borgun_returnurlerror: https://webhook.site/09452dc1-3ea3-45ee-8464-7a03862360d2
    borgun_secret: 99887766
    borgun_default_curreny: HUF
    borgun_default_language: HU
    admin_domain: admin.hazfal.hu
    web_dir: "%kernel.project_dir%/web"
    doc_uploads_dir: "%kernel.project_dir%/web/documents/uploads"
    force_import: true
    unit_types:
        1: 'Lakás'
        2: 'Tároló'
        3: 'Garázs'
        4: 'Parkoló'
        5: 'Tetőtér'
