<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Email</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
          crossorigin="anonymous">
    <style>
        .card {
            padding: 40px;
            background: #FFFFFF;
            border: 1px solid #E2E5EE;
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
            border-radius: 8px;
            margin-bottom: 15px;
            font-size: 16px;
            color: #3E3F42;
            text-decoration: none;
        }

        .title {
            font-size: 19px;
            font-weight: 700;
            color: #3E3F42;
            text-align: center;
            letter-spacing: 2px;
        }

        .content {
            font-size: 16px;
            color: #797B80;
            text-align: center;
            line-height: 22px;
            letter-spacing: 2px;
        }

        .btn-primary {
            color: #fff;
            background-color: #37bca5 !important;
            border-color: #37bca5 !important;
            border-radius: 8px;
            font-weight: 600 !important;
        }
    </style>
</head>

<body>
    {% block body %}{% endblock %}
</body>

</html>